<%if logged_in?%>
  <h1>Welcome, <%=@user.username.capitalize%>, to the wonderful world of the Philosophy Community!</h1>
<%else%>
  <form action="/users" method="post">
    <label>Log In Please:</label>
    <input type="text" name="username" value="username">
    <input type="submit" name="submit" value="submit">
  </form>
<%end%>
<a href="/users/new">Sign Up for an Account</a>
