<h1>Stories:</h1>
<%Experiment.all.each do |s|%>
  <h3><a href="/experiments/<%=s.id%>"><%=s.title%></a></h3>
  <h4><%=Branch.find_by(id: s.branch_id).name%></h4>
  </br>
<%end%>

<a href="/experiments/new">Add a new thought experiment story!</a>
