

<%if logged_in?%>
  <form action="/experiments" method="post">
    <label><h2>Create a new Thought Experiment Story:</h2></label>
    <input type="text" name="title" value="Title">
    </br>
    <textarea rows="20" cols="80" name="story" value="your story here"></textarea>
    </br>
    <label>Branch of philosophy (choose only one):</label>
    <%Branch.all.each do |b|%>
      <input type="checkbox" name="b[]" id="<%=b.branch%>" value="<%=b.id%>"><%=b.branch%></input>
    <%end%>
    </br>
    <input type="submit" name="submit" id='submit' value="submit">
  </form>
<%else%>
  <a href="users/index.html">Login</a>
<%end%>
