<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Philosophy Thought Experiments</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Philosophy Thought Experiments</h1>

        <%= yield %>

        <footer class="branding">
        <h3>Would you like to:</h3>

        </br>
        <a href="/experiments">Go to a list of experiments</a>
        </br>
        </br>
        <a href="/experiments/new">Add a new thought experiment story!</a>
        </br>
        </br>
        <a href="/branches">See a list of thought experiments by branches of philosophy</a>
        </br>
        </br>
        <a href="/users/#{user.id}">See the thought experiment stories you added</a>
        </br>
        </br>
        <a href="/users/logout">Log Out</a>
        </br>
        </br>
        <a href="https://emilyjennings.github.io/">Learn about the author of this project</a>
      </footer>
      <footer class="branding">
        <small>&copy; 2018 <strong>PhilosophyThoughtExperimentsSinatraProject</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
