<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Philosophy Thought Experiments</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <% if flash[:message] %>
      <%= flash[:message] %>
    <% end %>
    <div class="wrapper">
      <h1>Philosophy Thought Experiments</h1>

        <%= yield %>

        <footer class="branding">
        <h3>Where to next?</h3>
        <br>
        <div class="nav">
          <p><a href="/experiments">List of all Experiments</a></p>
          <p><a href="/experiments/new">Add New</a></p>
          <p><a href="/branches">By Branches of Philosophy</a></p>
          <p><a href="/users/:id">Your Experiments</a></p>
          <p><a href="/users/logout">Log Out</a></p>
          <p><a href="https://emilyjennings.github.io/">Learn about the creator</a></p>
        </div>
      </footer>
      <footer class="branding">
        <small>&copy; 2018 <strong>PhilosophyThoughtExperimentsSinatraProject</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
